global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http                 
    option  httplog
    option  dontlognull
    option  redispatch          
    retries 3
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# ---------------------------------------------------------------------
# FRONTEND: punto de entrada único (puerto 80)
# ---------------------------------------------------------------------
frontend http_front
    bind *:80

    acl is_users    path_beg /api/users /api/login /api/logout
    acl is_products path_beg /api/products
    acl is_orders   path_beg /api/orders

    use_backend users_back    if is_users
    use_backend products_back if is_products
    use_backend orders_back   if is_orders

    # Todo lo demás (páginas, CSS, JS) va al frontend web
    default_backend frontend_back

# ---------------------------------------------------------------------
# BACKENDS, 2 instancias por microservicio
# ---------------------------------------------------------------------
backend users_back
    balance roundrobin                         
    option httpchk GET /healthcheck             
    http-check expect status 200
    default-server inter 3s fall 2 rise 2      
    http-response set-header X-Served-By %s     
    server users1 10.0.1.11:3001 check
    server users2 10.0.1.11:3011 check

backend products_back
    balance roundrobin
    option httpchk GET /healthcheck
    http-check expect status 200
    default-server inter 3s fall 2 rise 2
    http-response set-header X-Served-By %s
    server products1 10.0.1.11:3002 check
    server products2 10.0.1.11:3012 check

backend orders_back
    balance roundrobin
    option httpchk GET /healthcheck
    http-check expect status 200
    default-server inter 3s fall 2 rise 2
    http-response set-header X-Served-By %s
    server orders1 10.0.1.11:3003 check
    server orders2 10.0.1.11:3013 check

backend frontend_back
    http-response set-header X-Served-By %s
    server frontend1 10.0.1.11:5001 check

# ---------------------------------------------------------------------
# dashboard de HAProxy en el puerto 8080
# ---------------------------------------------------------------------
listen stats
    bind *:8080
    stats enable
    stats uri /
    stats show-legends
    stats auth admin:admin
